<div class="starter-template">
    {{#pokemons}}
    
    <tr>
	    <td>{{name}}</td>
	    <td>{{type1}}</td>
	    <td>{{type2}}</td>
	    <td>{{total}}</td>
	    <td>{{hp}}</td>
	    <td>{{attack}}</td>
	    <td>{{defense}}</td>
	    <td>{{spatk}}</td>
	    <td>{{spdef}}</td>
	    <td>{{speed}}</td>
	    <td>{{generation}}</td>
	    <td>{{legendary}}</td>
  	</tr>
    
    
    {{/pokemons}}
</div>