<!DOCTYPE html>
<html>
<head>
<title>Liste de Pokémon</title>
<link rel="stylesheet" href="style.css">
</head>
<body>



<div class="container">
	  <table>
	  <tr>
	    <th>Name</th>
	    <th>Type1</th>
	    <th>Type2</th>
	    <th>Total</th>
	    <th>HP</th>
	    <th>Attack</th>
	    <th>Defense</th>
	    <th>Sp.Atk</th>
	    <th>Sp.Def</th>
	    <th>Speed</th>
	    <th>Generation</th>
	    <th>Legendary</th>
	  </tr>
    
	  {{>layout/pokemon}}
	    
	  </table>
</div>


</body>
</html>

